html {
  min-height: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: overlay;
  
  scrollbar-width: thin;
  scrollbar-color: #f8f6e5 transparent;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

/* body::-webkit-scrollbar-track {
  background: orange; 
} */

body::-webkit-scrollbar-thumb {
  background-color: #f8f6e599;    /* color of the scroll thumb */
  border-radius: 3px;       /* roundness of the scroll thumb */
  border: 2px solid black;  /* creates padding around scroll thumb */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
